<h1>Coach Zac Gallman</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "op24.jpg", width: 300, alt: "profile image" %>
  </div>
    
    <div class="col-md-8">
    <p>It is time to get lit, fellas!</p>

  </div>
</div>