<div class="inner cover">
  <h1 class="cover-heading">D1 Elite Training</h1>
  <p class="lead">D1 Elite Training is not for everyone, those that do not want to get on the grind are not welcome. It's time to get focused, dedicated, and achieve your dreams.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"%>
  </p>
</div>